<div class="pagination">
  {{#if prev}}
    <a href="{{page_url prev}}#main">&larr;&nbsp;Más nuevos</a>
    {{#if next}} | {{/if}}
  {{/if}}
  {{#if next}}
    <a href="{{page_url next}}#main">Más antiguos&nbsp;&rarr;</a>
  {{/if}}
</div>
